.contact-container{
    padding: 80px;
    margin-top: 100px;
}
.contact-container .col-1{
    flex-basis: 40%;
}
.contact-container .flex-container{
    align-items: start;
}
.col-1 .heading{
    font-family: "Inter-Bold";
  font-size: 60px;
  text-transform: uppercase;
  color: var(--gray-6);
  margin-bottom: 25px;
}


.col-1 .enquiry{
    font-size: 16px;
  font-family: "Inter-regular";
  color: var(--gray-5);
  margin: 25px 0;

}


.col-1 .mail {
        font-family: "Inter-regular";
        font-size: 30px;
        text-decoration: underline;
        margin: 25px 0;
        cursor: pointer;
}

.col-1 .phone{
    font-family: "Inter-regular";
  font-size: 30px;
  margin: 25px 0;
  cursor: pointer;
}

.col-2
{
flex-basis: 50%;
}
.form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: "Inter-semi-bold";
    font-size: 14px;
    color: var(--gray-6);
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #D1D5DB;
    border-radius: 8px; 
    margin-top: 5px;
    font-family: "Inter-regular";
    font-size: 14px;
  }
  .form-group.inline {
    display: flex;
    justify-content: space-between;
  }
  .form-group.inline .input-group {
    width: 48%;
  }
  .form-group.inline .input-group label {
    margin-bottom: 0;
  }


.col-2 .home-btn{
    padding:16px 20px;
    background-color: var(--primary);
    font-size: 16px;
    font-family: "Inter-semi-bold";
    text-decoration: none;
    color: var(--white);
    border-radius: 8px;
    transition: all 0.2s ease-in;
    font-size: 16px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.col-2 .home-btn:hover{
  text-decoration: underline;
}